@use "../base/variables" as *;

.scroll-to-top-wrapper {
    position: sticky;
    bottom: 20px;
    height: 0;
    margin-right: 25px;
}

.scroll-to-top {
    position: absolute;
    top: -70px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border: none;
    outline: none;
    background-color: $color-green;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
    opacity: .4;
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
    transition: all .2s ease-in-out;

    &__icon {
        rotate: 90deg;
    }

    &:hover {
        opacity: 1;
        scale: 1.1;
    }
}