@use "../base/variables" as *;

.search-form {
    display: flex;
    flex-direction: row;
    padding: 29px 44px 32px;
    width: 872px;
    height: 543px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;

    @include breakpoint(lg) {
        flex-direction: column;
        width: 520px;
        height: 650px;
    }

    @include breakpoint(sm) {
        width: 375px;
        height: 688px;
        padding: 24px 20px 32px;
    }

    @include breakpoint(min) {
        width: 100%;
    }

    .main-wrapper {

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 0 30px 0;

            label {
                @include font(18, 400, $color-black);
                margin: 0 0 20px 0;
                letter-spacing: .03em;

                @include breakpoint(sm) {
                    font-size: 14px;
                }

                .required-mark {
                    @include font(25, 400, $color-black);

                    &.error {
                        color: $color-red;
                    }
                }
            }

            .input-wrapper {
                position: relative;
                width: 242px;

                @include breakpoint(lg) {
                    width: 100%;
                }

                input {
                    padding: 0 17px 0;
                    font-family: $Inter;
                    @include font(14, 400, $color-black);
                    width: 100%;
                    border: 1px solid $color-light-gray;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
                    border-radius: 5px;
                    height: 43px;
                    text-align: center;
                    letter-spacing: .03em;

                    &.error {
                        border-color: $color-red;
                        @include font(14, 400, $color-red);
                        box-shadow: 0 0 10px 0 rgba(255, 89, 89, 0.2);
                    }
                }

                .error-container {
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .error-message {
                    position: absolute;
                    top: 4px;
                    @include font(14, 400, $color-red);
                    padding: 0 4px;
                    animation: fadeIn 0.2s ease-in-out;

                    @include breakpoint(sm) {
                        font-size: 12px;
                    }
                }

                .date-range-wrapper {
                    display: flex;
                    gap: 20px;

                    @include breakpoint(sm) {
                        flex-direction: column;
                    }

                    input {
                        width: 176px;

                        @include breakpoint(lg) {
                            width: 100%;
                        }
                    }

                    button {
                        background: none;
                        width: 20px;
                    }

                    .react-datepicker {

                        &__input-container {
                            display: flex;
                            flex-flow: row-reverse;
                            align-items: center;
                        }

                        &__month-select {
                            padding: 0;
                            height: auto;
                            width: auto;
                        }

                        &__year-select {
                            padding: 0;
                            height: auto;
                            width: auto;
                        }

                        &__navigation--years {
                            background: none;
                            line-height: 1.7rem;
                            text-align: center;
                            cursor: pointer;
                            padding: 0;
                            border: 0.45rem solid transparent;
                            z-index: 1;
                            height: 10px;
                            width: 10px;
                            text-indent: -999em;
                            overflow: hidden;
                            position: relative;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;

                            &-upcoming {
                                top: -4px;
                                border-bottom-color: #ccc;
                            }

                            &-previous {
                                top: 4px;
                                border-top-color: #ccc;
                            }
                        }

                    }
                }
            }

            select {
                padding: 0 17px 0;
                font-family: $Inter;
                @include font(14, 400, $color-black);
                letter-spacing: .03em;
                width: 242px;
                border: 1px solid $color-light-gray;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                height: 43px;

                @include breakpoint(lg) {
                    width: 100%;
                    text-align: center;
                }
            }

            .select-tone {
                appearance: none;
                background-image: url("../../assets/images/search/pick-icon.svg");
                background-repeat: no-repeat;
                background-position: 95% 50%;
            }
        }
    }

    .secondary-wrapper {
        margin: 7px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .checkbox-group {

            @include breakpoint(lg) {
                display: none;
            }

            .checkbox-wrapper {
                margin: 0 0 15px 0;

                .checkbox-label {
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                    position: relative;

                    .checkbox-input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                    }

                    .checkbox-custom {
                        position: relative;
                        display: flex;
                        padding: 2px;
                        width: 20px;
                        height: 20px;
                        margin-right: 17px;
                        border: 1px solid $color-black;
                        transition: all 0.2s ease;
                        pointer-events: none;
                        opacity: 0.4;

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            opacity: 0;
                            background-image: url("../../assets/images/main/check-mark.svg");
                            width: 14px;
                            height: 14px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            pointer-events: none;
                        }
                    }

                    .checkbox-text {
                        @include font(18, 400, $color-black);
                        opacity: 0.4;
                        pointer-events: none;
                        letter-spacing: .03em;
                    }

                    .checkbox-input:checked ~ .checkbox-custom {
                        opacity: 1;

                        &::after {
                            opacity: 1;
                        }
                    }

                    .checkbox-input:checked ~ .checkbox-text {
                        opacity: 1;
                    }
                }
            }
        }

        .submit-group {
            margin: 0 0 0 auto;

            @include breakpoint(lg) {
                margin: 0 auto;
            }

            @include breakpoint(sm) {
                margin: 0;
            }

            .submit-button {
                margin-top: 10px;
                cursor: pointer;
                width: 305px;
                height: 59px;
                border: none;
                background-color: $color-blue;
                border-radius: 5px;
                font-family: $Inter;
                @include font(22, 500, $color-white);

                @include breakpoint(sm) {
                    font-size: 20px;
                    width: 100%;
                }

                &:disabled {
                    cursor: initial;
                    opacity: 0.5;
                }

                &.loading {
                    cursor: wait;
                    opacity: .5;
                }
            }

            .required-notification {
                margin: 10px 0 0 0;
                @include font(14, 400, $color-gray);
                letter-spacing: .03em;
            }
        }
    }
}